.DS_Store
*.dSYM
*.gcda
*.gcno
*.gcov
*.plist
collatz-tests
Icon?
RunCollatz
RunCollatz.tmp
TestCollatz
TestCollatz.tmp
latex/
Collatz.c++.gcov
Collatz.gcda
Collatz.gcno
Collatz.plist
Doxyfile
doxygen_sqlite3.db
iostream.gcov
RunCollatz
RunCollatz.plist
RunCollatz.tmp
TestCollatz
TestCollatz.gcda
TestCollatz.gcno
TestCollatz.plist
TestCollatz.tmp
Gen.java
